<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img id="main_logo" src="../img/logo.png">
        </a>
        <div class="columns is-vcentered">
            <h3 class="title is-3 ml-5">Brewery Info</h3>
        </div>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end">
            <div class="columns is-vcentered">
                <div class="field has-addons">
                    <div class="control">
                        <input class="input" type="text" placeholder="Find a brewery">
                    </div>
                    <div class="control">
                        <a class="button is-info">
                            Search
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
